@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-image: url("img/fondoIndex.png");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.custom-btn {
  border: 2px solid white;
  color: black;
  background-color: white;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}

.titulo {
  font-size: 1.5rem;
  font-weight: 800;
  width: 60%;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  font-variant: small-caps;
}

.logo a{
  text-decoration: none;
  color: #018055;
}

h2.logo img{
  width: 20%;
}

#mainContainer h1{
  font-size: 2rem;
}

#mainContainer img{
  width: 25%;
  margin-bottom: -3.5%;
}